* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    background-color: #10ac84;
    height: 175px;
    
    display: grid;
    justify-content: center;
    align-content: center;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 4rem;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}

p, a, div {
    font-family: 'Noto Sans', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;

    background-color: white;
    min-height: calc(100vh - 175px - 104px);

    padding: 16px;
}

@media only screen and (min-width: 850px) {
    main {
        margin: auto;
        max-width: 850px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
    }
}

footer {
    padding: 16px;

    background-color: #d2dae2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 450px) {
    footer {
        flex-direction: column;
    }

    footer > img {
        margin-bottom: 16px;
    }
}

footer > div {
    margin-left: 16px;
}

#shareimg { 
    width: 200px;
    height: 69px;
}

article {
    margin: auto;
    max-width: 400px;
    padding: 16px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

article > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

article > div > h2 {
    font-size: 2rem;
    color: white;
    margin: 8px 0 8px 0;
}

article > div > h3 {
    text-align: right;
    font-size: 1.25rem;
    color: white;
    margin: 8px 0 8px 0;
}

article > p {
    font-size: 1rem;
    color: white;
    margin: 8px 0 8px 0;
}

article > a {
    color: black;
    background-color: #d2dae2;
    padding: 16px;
    margin: 8px 0 8px 0;
    border-radius: 8px;
    text-decoration: none;
}

article > video {
    margin: 8px 0 8px 0;
    max-width: 100%;
}

.article-0 {
    background-color: #ef5777;
}

.article-1 { 
    background-color: #575fcf;
}

.article-2 {
    background-color: #0fbcf9;
}